<div class="pubentry">
  <div class="pubtext">
    <a href="http://www.vldb.org/pvldb/vol8/p2032-xirogiannopoulos.pdf">GraphGen: Exploring Interesting Graphs in Relational Data</a>
    <div class="pubmetadata">
      <span class="pubauthors">Konstantinos Xirogiannopoulos, Udayan Khurana, Amol Deshpande</span><br>
      <span class="pubvenue"><i>VLDB 2015 Demo <a href="https://www.youtube.com/watch?v=GDVBLv-oedQ">[video]</a></i>.</span>
    </div>
  </div>
</div>
<div class="pubentry">
  <div class="pubtext">
    <a href="http://dl.acm.org/citation.cfm?id=3035949&CFID=937771402&CFTOKEN=20992371">Extracting and Analyzing Hidden Graphs from Relational Databases</a>
    <div class="pubmetadata">
      <span class="pubauthors">Konstantinos Xirogiannopoulos, Amol Deshpande</span><br>
      <span class="pubvenue"><i>SIGMOD 2017 Research Paper</i><a href="https://speakerdeck.com/konstantinosx/graphgen-extracting-and-analyzing-hidden-graphs-from-relational-databases">[slides]</a>
        <a href="/~kostasx/files/SIGMOD_Poster_final.pdf">[poster]</a>
        <a href="https://www.youtube.com/watch?v=M9Drmt5p4ZI&feature=youtu.be&t=30m28s">[talk]</a>
        .</span>
    </div>
  </div>
  <div class="pubentry">
    <div class="pubtext">
      <a href="https://event.cwi.nl/grades/2017/09-Xirogiannopoulos.pdf">GraphGen: Adaptive Graph Processing using Relational Databases</a>
      <div class="pubmetadata">
        <span class="pubauthors">Konstantinos Xirogiannopoulos, Virinchi Srinivas, Amol Deshpande</span><br>
        <span class="pubvenue"><i>GRADES 2017 Workshop Paper [To Appear]</i>.</span>
      </div>
    </div>
</div>
