<div class="pubentry">
  <div class="pubtext">
    <a href="http://www.vldb.org/pvldb/vol8/p2032-xirogiannopoulos.pdf">GraphGen: Exploring Interesting Graphs in Relational Data</a>
    <div class="pubmetadata">
      <span class="pubauthors">Konstantinos Xirogiannopoulos, Udayan Khurana, Amol Deshpande</span><br>
      <span class="pubvenue"><i>VLDB 2015 Demonstrations Track <a href="https://www.youtube.com/watch?v=GDVBLv-oedQ">[video]</a></i>.</span>
    </div>
  </div>
</div>
<div class="pubentry">
  <div class="pubtext">
    <a href="">Extracting and Analyzing Hidden Graphs from Relational Databases</a>
    <div class="pubmetadata">
      <span class="pubauthors">Konstantinos Xirogiannopoulos, Amol Deshpande</span><br>
      <span class="pubvenue"><i>[Work In Progress]</i>.</span>
    </div>
  </div>
</div>
