--- layout: default ---
<article>


  <h1 class="title">Konstantinos Xirogiannopoulos</h1>



  <section class="post-content">
    <p>
      <img style="  display: block;   margin-left: auto;   margin-right: auto;" width="250" height="250" src="img/me.jpg">
    </p>

    <p>I’m a graduate student at the University of Maryland, College Park, working with Prof. <a href="http://www.cs.umd.edu/~amol/">Amol Deshpande</a>. My research interests lie in the broad field of Database Systems. I am generally interested in work that
      falls under
      <em>Large Scale</em> Graph Computation Frameworks, Database Management Systems and Distributed Databases.</p>

    <p>Papers:</p>

    <p>Talks:</p>
  </section>
</article>
